# Predicting students' math performances through the data set

do not assume ANY work is my own. im notorious for standing on the shoulders others... then doing epic back flips.

In [3]:
import os

import numpy as np
import pandas as pd

data = pd.read_csv('./StudentsPerformance.csv')
print( data)

# Convert to categorical!
for i in range(data.shape[1]):
    if i not in [5,6,7]:
        data.iloc[:, i] = data.iloc[:,i].astype("category")

from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

for i in range(data.shape[1]):
    if i not in [1,2,5,6,7]:
        data.iloc[:, i] = label_encoder.fit_transform(data.iloc[:,i])

     gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
5    female        group B          associate's degree      standard
6    female        group B                some college      standard
7      male        group B                some college  free/reduced
8      male        group D                 high school  free/reduced
9    female        group B                 high school  free/reduced
10     male        group C          associate's degree      standard
11     male        group D          associate's degree      standard
12   female        group B                 high school      standard
13     male        group A                some college      standard
14   female        group A             master's degree      standard
15   female        group C            some high school      standard
16     male        group C                 high school      standard
17   female        group B            some high school  free/reduced
18     male        group C             master's degree  free/reduced
19   female        group C          associate's degree  free/reduced
20     male        group D                 high school      standard
21   female        group B                some college  free/reduced
22     male        group D                some college      standard
23   female        group C            some high school      standard
24     male        group D           bachelor's degree  free/reduced
25     male        group A             master's degree  free/reduced
26     male        group B                some college      standard
27   female        group C           bachelor's degree      standard
28     male        group C                 high school      standard
29   female        group D             master's degree      standard
..      ...            ...                         ...           ...
970  female        group D           bachelor's degree      standard
971    male        group C            some high school      standard
972  female        group A                 high school  free/reduced
973  female        group D                some college  free/reduced
974  female        group A                some college      standard
975  female        group C                some college      standard
976    male        group B                some college  free/reduced
977    male        group C          associate's degree      standard
978    male        group D                 high school      standard
979  female        group C          associate's degree      standard
980  female        group B                 high school  free/reduced
981    male        group D            some high school      standard
982    male        group B            some high school      standard
983  female        group A                some college      standard
984  female        group C            some high school      standard
985    male        group A                 high school      standard
986  female        group C          associate's degree      standard
987    male        group E            some high school      standard
988  female        group A            some high school  free/reduced
989  female        group D                some college  free/reduced
990    male        group E                 high school  free/reduced
991  female        group B            some high school      standard
992  female        group D          associate's degree  free/reduced
993  female        group D           bachelor's degree  free/reduced
994    male        group A                 high school      standard
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
5                      none          71             83             78
6                 completed          88             95             92
7                      none          40             43             39
8                 completed          64             64             67
9                      none          38             60             50
10                     none          58             54             52
11                     none          40             52             43
12                     none          65             81             73
13                completed          78             72             70
14                     none          50             53             58
15                     none          69             75             78
16                     none          88             89             86
17                     none          18             32             28
18                completed          46             42             46
19                     none          54             58             61
20                     none          66             69             63
21                completed          65             75             70
22                     none          44             54             53
23                     none          69             73             73
24                completed          74             71             80
25                     none          73             74             72
26                     none          69             54             55
27                     none          67             69             75
28                     none          70             70             65
29                     none          62             70             75
..                      ...         ...            ...            ...
970                    none          89            100            100
971               completed          78             72             69
972               completed          53             50             60
973                    none          49             65             61
974                    none          54             63             67
975               completed          64             82             77
976               completed          60             62             60
977                    none          62             65             58
978               completed          55             41             48
979                    none          91             95             94
980                    none           8             24             23
981                    none          81             78             78
982               completed          79             85             86
983               completed          78             87             91
984                    none          74             75             82
985                    none          57             51             54
986                    none          40             59             51
987               completed          81             75             76
988                    none          44             45             45
989               completed          67             86             83
990               completed          86             81             75
991               completed          65             82             78
992                    none          55             76             76
993                    none          62             72             74
994                    none          63             63             62
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[1000 rows x 8 columns]

In [4]:

data = pd.get_dummies(data)
data.head()

,gender,lunch,test preparation course,math score,reading score,writing score,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school
0,0,1,1,72,72,74,0,1,0,0,0,0,1,0,0,0,0
1,0,1,0,69,90,88,0,0,1,0,0,0,0,0,0,1,0
2,0,1,1,90,95,93,0,1,0,0,0,0,0,0,1,0,0
3,1,0,1,47,57,44,1,0,0,0,0,1,0,0,0,0,0
4,1,1,1,76,78,75,0,0,1,0,0,0,0,0,0,1,0

In [5]:
from sklearn.model_selection import train_test_split


train, test = train_test_split(data, random_state = 123)

print(train.shape)
print(test.shape)

col_names = list(data.columns)

(750, 17)
(250, 17)

In [8]:
math_pred_feats = [x for i, x in enumerate(col_names) if i in list(range(0,data.shape[1])) and i not in [3]]
math_pred_label = col_names[3]
train_math = train[math_pred_feats]
y_train_math = train[math_pred_label]
test_math = test[math_pred_feats]
y_test_math = test[math_pred_label]



from xgboost import XGBRegressor
import xgboost as xgb


xgb_model = XGBRegressor(max_depth = 5,
                n_estimators=500,
                n_jobs=4,
                subsample=1.0,
                colsample_bytree=0.7,
                random_state=1302)
xgb_params = xgb_model.get_xgb_params()

xgb_model.fit(train_math, y_train_math, verbose = True)

train_math.head()

,gender,lunch,test preparation course,reading score,writing score,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school
894,0,1,1,62,69,0,0,0,0,1,1,0,0,0,0,0
941,0,1,1,91,96,0,0,0,1,0,0,0,0,1,0,0
285,1,1,0,82,82,0,1,0,0,0,1,0,0,0,0,0
462,0,1,1,70,76,0,0,0,0,1,0,0,0,0,1,0
370,1,1,1,77,71,0,0,0,0,1,0,0,0,0,1,0

In [9]:
test_math.head()

,gender,lunch,test preparation course,reading score,writing score,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school
131,1,0,0,37,40,0,0,1,0,0,0,0,0,0,0,1
203,0,1,1,69,68,0,1,0,0,0,1,0,0,0,0,0
50,1,1,1,55,48,0,0,0,0,1,0,0,0,0,1,0
585,0,1,1,76,76,0,0,1,0,0,1,0,0,0,0,0
138,0,1,1,66,67,0,0,1,0,0,1,0,0,0,0,0

In [10]:
preds = xgb_model.predict(test_math)
from sklearn.metrics import mean_squared_error

print("RMSE: ",np.sqrt(mean_squared_error(y_test_math,preds)))

RMSE:  6.322584415787747

In [54]:
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import reciprocal, uniform, randint


param_dist = {
    'colsample_bytree':uniform(0.1,0.9),
    'gamma':reciprocal(1e-5,1),
    'min_child_weight':[1,3],
    'learning_rate':reciprocal(1e-4,1),
    'max_depth':randint(2,6),
    'n_estimators':randint(100,1000),
    'reg_alpha':[1e-5, 0.1],
    'reg_lambda':[1e-5, 0.1],
    'subsample':[0.8]
}

rand_search = RandomizedSearchCV(estimator = xgb_model, param_distributions = param_dist, n_iter = 3, n_jobs=3, iid=False,verbose=True, scoring = 'neg_mean_squared_error', random_state = 123)
print("Fitting model...")
rand_search.fit(train_math, y_train_math)
print("Model fitted")
print("Best score: ")
print(rand_search.best_score_)
print("Best model: ")
print(rand_search.best_params_)

Fitting model...
Fitting 3 folds for each of 3 candidates, totalling 9 fits

C:\Users\kali\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done   9 out of   9 | elapsed:    2.8s finished

Model fitted
Best score:
-37.12431091726925
Best model:
{'colsample_bytree': 0.8020249857208712, 'gamma': 0.001134023001659826, 'learning_rate': 0.02083421723132106, 'max_depth': 5, 'min_child_weight': 3, 'n_estimators': 644, 'reg_alpha': 1e-05, 'reg_lambda': 1e-05, 'subsample': 0.8}

In [56]:
best_model = XGBRegressor(**rand_search.best_params_)
best_model.fit(train_math, y_train_math)

y_preds = best_model.predict(test_math)
print("RMSE: ",np.sqrt(mean_squared_error(y_test_math,y_preds)))
print(rand_search.best_params_)

RMSE:  6.212210323194587
{'colsample_bytree': 0.8020249857208712, 'gamma': 0.001134023001659826, 'learning_rate': 0.02083421723132106, 'max_depth': 5, 'min_child_weight': 3, 'n_estimators': 644, 'reg_alpha': 1e-05, 'reg_lambda': 1e-05, 'subsample': 0.8}

In [13]:
from sklearn.ensemble import RandomForestRegressor

rf_model = RandomForestRegressor()

from sklearn.model_selection import RandomizedSearchCV

param_dist = {
    "max_depth":randint(3,5),
    "max_features":randint(3,5),
    "bootstrap":[True,False],
    "min_samples_split":randint(2,7),
    'n_estimators':randint(10,500)
}

rand_search = RandomizedSearchCV(rf_model, param_distributions = param_dist, n_jobs=5, cv = 5, verbose = True, n_iter=90, random_state = 123)
rand_search.fit(train_math, y_train_math)

Fitting 5 folds for each of 90 candidates, totalling 450 fits

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.
[Parallel(n_jobs=5)]: Done  40 tasks      | elapsed:    1.6s
[Parallel(n_jobs=5)]: Done 333 tasks      | elapsed:   13.1s
[Parallel(n_jobs=5)]: Done 441 out of 450 | elapsed:   16.8s remaining:    0.2s
[Parallel(n_jobs=5)]: Done 450 out of 450 | elapsed:   17.1s finished

RandomizedSearchCV(cv=5, error_score='raise-deprecating',
          estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False),
          fit_params=None, iid='warn', n_iter=90, n_jobs=5,
          param_distributions={'max_depth': <scipy.stats._distn_infrastructure.rv_frozen object at 0x0000023F7BF47128>, 'max_features': <scipy.stats._distn_infrastructure.rv_frozen object at 0x0000023F7FDBC160>, 'bootstrap': [True, False], 'min_samples_split': <scipy.stats._distn_infrastructure.rv_frozen object at 0x0000023F7FDBCAC8>, 'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x0000023F7FDBCC50>},
          pre_dispatch='2*n_jobs', random_state=123, refit=True,
          return_train_score='warn', scoring=None, verbose=True)

In [14]:
print(rand_search.best_score_)
print(rand_search.best_params_)

0.7277663147097823
{'bootstrap': True, 'max_depth': 4, 'max_features': 4, 'min_samples_split': 4, 'n_estimators': 230}

In [15]:
best_rf_model = RandomForestRegressor(**rand_search.best_params_)
best_rf_model.fit(train_math,y_train_math)

rf_preds = best_rf_model.predict(test_math)
print("MSE:", mean_squared_error(y_test_math,y_preds))

MSE: 38.5915570996054

In [16]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
param_dist = {'criterion':['mse'], 
              'max_depth':[1], 
              'max_features':[None],
           'max_leaf_nodes':[None], 
              'min_impurity_decrease':uniform(0,1),
           'min_impurity_split':[None], 
              'min_samples_leaf':uniform(1e-9,(0.5-1e-9)),
           'min_samples_split':randint(2,5), 
              'min_weight_fraction_leaf':reciprocal(1e-7,0.5),
           'presort':[False], 
              'random_state':[123], 
              'splitter':['best']
             }

rand_search = RandomizedSearchCV(DecisionTreeRegressor(), param_distributions = param_dist, n_jobs=5, cv = 5, verbose = True, n_iter=90)
rand_search.fit(train_math, y_train_math)

adaboost_model = AdaBoostRegressor(DecisionTreeRegressor(**rand_search.best_params_), n_estimators=50).fit(train_math, y_train_math)

print(adaboost_model)
y_preds = adaboost_model.predict(test_math)
print("MSE:", mean_squared_error(y_test_math, y_preds))
print("RMSE:", np.sqrt(mean_squared_error(y_test_math, y_preds)))

Fitting 5 folds for each of 90 candidates, totalling 450 fits

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

AdaBoostRegressor(base_estimator=DecisionTreeRegressor(criterion='mse', max_depth=1, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.9138809206710289,
           min_impurity_split=None, min_samples_leaf=0.48882597730825234,
           min_samples_split=2,
           min_weight_fraction_leaf=1.825375556023342e-05, presort=False,
           random_state=123, splitter='best'),
         learning_rate=1.0, loss='linear', n_estimators=50,
         random_state=None)
MSE: 137.03897420267626
RMSE: 11.70636468775325

[Parallel(n_jobs=5)]: Done 450 out of 450 | elapsed:    0.5s finished

In [19]:
from sklearn.preprocessing import scale
math_score_mean = np.mean(data['math score'])
math_score_sd = np.std(data['math score'])
data.iloc[:,0:3] = data.iloc[:,0:3].replace({1:1, 0:-1})
data.iloc[:,3:6] = data.iloc[:,3:6].apply(lambda x: (x - np.mean(x)) / np.std(x), axis=0)
data.iloc[:,6:17] = data.iloc[:,6:17].replace({1:1, 0:-1})


train, test = train_test_split(data, random_state = 123)
data.head()

train_math_gp = train.drop(['math score','reading score','writing score'], axis = 1)
y_train_math_gp = train['math score']

test_math_gp = test.drop(['math score','reading score', 'writing score'], axis = 1)
y_test_math_gp = test['math score']

In [20]:
print(test_math_gp.shape)
test_math_gp.head()

(250, 14)

,gender,lunch,test preparation course,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school
131,1,-1,-1,-1,-1,1,-1,-1,-1,-1,-1,-1,-1,1
203,-1,1,1,-1,1,-1,-1,-1,1,-1,-1,-1,-1,-1
50,1,1,1,-1,-1,-1,-1,1,-1,-1,-1,-1,1,-1
585,-1,1,1,-1,-1,1,-1,-1,1,-1,-1,-1,-1,-1
138,-1,1,1,-1,-1,1,-1,-1,1,-1,-1,-1,-1,-1

In [21]:
print(train_math_gp.shape)
train_math_gp.head()

(750, 14)

,gender,lunch,test preparation course,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school
894,-1,1,1,-1,-1,-1,-1,1,1,-1,-1,-1,-1,-1
941,-1,1,1,-1,-1,-1,1,-1,-1,-1,-1,1,-1,-1
285,1,1,-1,-1,1,-1,-1,-1,1,-1,-1,-1,-1,-1
462,-1,1,1,-1,-1,-1,-1,1,-1,-1,-1,-1,1,-1
370,1,1,1,-1,-1,-1,-1,1,-1,-1,-1,-1,1,-1

In [22]:
from sklearn.gaussian_process import GaussianProcessRegressor

gp_model = GaussianProcessRegressor(n_restarts_optimizer = 50)
gp_model.fit(train_math_gp, y_train_math_gp)
y_preds = gp_model.predict(test_math_gp)
print("RMSE: ", np.sqrt(mean_squared_error(y_test_math_gp, y_preds)))
print("MSE: ", mean_squared_error(y_test_math_gp, y_preds))

from sklearn.model_selection import cross_val_score
print(cross_val_score(gp_model,cv=5,X = data.drop(['math score','reading score','writing score'], axis = 1), y = data['math score'], scoring = 'neg_mean_squared_error'))

# Rescale it. 

MSE = mean_squared_error(y_test_math_gp, y_preds)*math_score_sd + math_score_mean

print("MSE", MSE)

RMSE:  1.0267705761950512
MSE:  1.0542578161399174
[-1.14285392 -0.97582652 -1.01770415 -1.05081047 -1.12548252]
MSE 1.0542578161399152

the [above](https://www.kaggle.com/filco306/predicting-math-score) is from [this guy](https://www.kaggle.com/filco306/predicting-math-score)

In [41]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2), random_state=1)
clf.fit(train_math,y_train_math)

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(5, 2), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=1, shuffle=True, solver='lbfgs', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)

In [53]:

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto',
              beta_1=0.9, beta_2=0.999, early_stopping=False,
              epsilon=1e-08, hidden_layer_sizes=(5, 2),
              learning_rate='constant', learning_rate_init=0.001,
              max_iter=200, momentum=0.9, n_iter_no_change=10,
              nesterovs_momentum=True, power_t=0.5, random_state=1,
              shuffle=True, solver='lbfgs', tol=0.0001,
              validation_fraction=0.1, verbose=False, warm_start=False)
clf.predict(test_math_gp)

ValueError: shapes (250,14) and (16,5) not aligned: 14 (dim 1) != 16 (dim 0)

----------------

In [61]:
col_names

['gender',
 'lunch',
 'test preparation course',
 'math score',
 'reading score',
 'writing score',
 'race/ethnicity_group A',
 'race/ethnicity_group B',
 'race/ethnicity_group C',
 'race/ethnicity_group D',
 'race/ethnicity_group E',
 "parental level of education_associate's degree",
 "parental level of education_bachelor's degree",
 'parental level of education_high school',
 "parental level of education_master's degree",
 'parental level of education_some college',
 'parental level of education_some high school']

In [64]:
data.head()

,gender,lunch,test preparation course,math score,reading score,writing score,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school
0,-1,1,1,0.390024,0.193999,0.391492,-1,1,-1,-1,-1,-1,1,-1,-1,-1,-1
1,-1,1,-1,0.192076,1.427476,1.313269,-1,-1,1,-1,-1,-1,-1,-1,-1,1,-1
2,-1,1,1,1.577711,1.770109,1.642475,-1,1,-1,-1,-1,-1,-1,-1,1,-1,-1
3,1,-1,1,-1.259543,-0.833899,-1.583744,1,-1,-1,-1,-1,1,-1,-1,-1,-1,-1
4,1,1,1,0.653954,0.605158,0.457333,-1,-1,1,-1,-1,-1,-1,-1,-1,1,-1

In [76]:
np.correlate(data["gender"],data["math score"])

array([167.87335032])

In [78]:
np.correlate(data["lunch"],data["math score"])

array([335.79829908])

In [89]:
data.size

17000

In [116]:
from scipy.stats import linregress #This computes a least-squares regression for two sets of measurements.


print("\n gender to math,writing,reading\n ")

print(linregress(data["gender"],data["math score"]).slope)
print(linregress(data["gender"],data["writing score"]).slope)
print(linregress(data["gender"],data["reading score"]).slope)

print("\n writing:reading. math:reading. math writing below\n ")

print(linregress(data["writing score"],data["reading score"]).slope)
print(linregress(data["math score"],data["reading score"]).slope)
print(linregress(data["writing score"],data["math score"]).slope)


print("\n lunch & test prep below\n ")
print(linregress(data["lunch"],data["math score"]).slope)
print(linregress(data["test preparation course"],data["math score"]).slope)

print("\n ethnicity_group(s) below\n ")

print(linregress(data["race/ethnicity_group A"],data["math score"]).slope)
print(linregress(data["race/ethnicity_group B"],data["math score"]).slope)
print(linregress(data["race/ethnicity_group C"],data["math score"]).slope)
print(linregress(data["race/ethnicity_group D"],data["math score"]).slope)
print(linregress(data["race/ethnicity_group E"],data["math score"]).slope)

 gender to math,writing,reading

0.16809119650966453
-0.3014203191923895
-0.2444710764955198

 writing:reading. math:reading. math writing below

0.9545980771462478
0.8175796636720527
0.8026420459498088

 lunch & test prep below

0.36663205489568945
-0.18533371860005843

 ethnicity_group(s) below

-0.16150855233314534
-0.10737938523421174
-0.07872623625109029
0.056934427489952935
0.29663151974557733

In [108]:
print("\n parental level of education below\n ")
print(linregress(data["parental level of education_some high school"],data["math score"]).slope)
print(linregress(data["parental level of education_some college"],data["math score"]).slope)

print(linregress(data["parental level of education_master's degree"],data["math score"]).slope)
print(linregress(data["parental level of education_bachelor's degree"],data["math score"]).slope)

 parental level of education below

-0.10414946328573255
0.044300391417904025
0.1282055976437509
0.12346801633345421

In [ ]:
best_model = XGBRegressor(**rand_search.best_params_)
best_model.fit(train_math, y_train_math)

y_preds = best_model.predict(test_math)
print("RMSE: ",np.sqrt(mean_squared_error(y_test_math,y_preds)))
print(rand_search.best_params_)